<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
        @*<script src="@Url.Content("~/Scripts/jquery-1.5.1.min.js")"></script>
        <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")"></script>*@
    </head>
    <body>
        <div id="header">
            <h1>CD Buyer</h1>
            <ul id="navlist">
                <li>@{Html.RenderAction("BasketSummary", "Basket");}</li>
                @* Add links to Login and view order summary *@
            </ul>        
        </div>
        <section id="main">
            @RenderBody()
        </section>
    </body>
</html>