@model MvcExercise.Models.Basket

@{
    ViewBag.Title = "Basket";    
}

<h2>@Model.BasketContents.Count() items in basket: </h2>
<ul id="album-list">
    @foreach (var album in Model.BasketContents)
    {
        <li>
            <span>@album.AlbumId</span>
            <span>@album.Artist</span>
            <span>@album.Title</span>
            <span>@album.Year</span>
            <span>@album.Price</span>
            <span>
                @Html.ActionLink("Remove from basket", 
                                    "RemoveFromBasket", 
                                    "Basket", 
                                    album,
                                    string.Empty)
            </span>   
        </li>
    }
    Total: @Model.Total
</ul>
@Html.ActionLink("Search again", "Index", "Home")